


  aside {
    background-color: #b9c6ae;
    padding: 0px;
    float: right;
  }
  
  .welcome {
    margin-bottom: 20px;
  }
  
  #main {
    margin-bottom: 20px;
    font-size: 100px;
    width: 100%;
    height: 25px;
  }
  
  #read {
    margin: auto;
    padding: 10px;
    width: 100%;
    height: 25px;
  }
  
  ul {
  max-width: 1000px;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  

  }
  li {
    position: relative;
    text-align: left;
    padding-left: 300px;
  }

  p {

  font-size: 25px;
  line-height: 0px;
  }

  #time {
    font-size: 30px;
    height: 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    }

  section {
        font-size: 30px;
        height: 25px;
        text-align: center;
        right: 0px;
        }

  #submit {
    visibility: hidden;
  }


#quiz {

    visibility: hidden;
  }

  #playAgain {

    height: 50px;
    font-size: 30px;
    top: -50px;
    visibility: hidden;
    position:relative;
    margin-left: auto;
    margin-right: auto;

  }

  #Start {

    height: 50px;
    font-size: 30px;
    top: -50px;
    position:relative;
    margin-left: auto;
    margin-right: auto;

  }